header h1 {
  text-align: center;
}


.valueContainer {
  width: 3em;
}

.input, .output {
  width: 14em;
  margin: 0 auto;
}

.input {

}

.output {

}

h3 {
  text-align: center;
}

.value {
  display: flex;
  margin-bottom: .25em;
}

.value label {
  width: 4em;
  margin-right: .3125em;
}

.value input {
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.value input,
.value span {
  display: block;
  text-align: left;
  width: 6em;
}
