header h1 {
  text-align: center;
}


.valueContainer {
  width: 3em;
}

.input, .output {
  width: 14em;
  margin: 0 auto;
}

.input {

}

.output {

}

h3 {
  text-align: center;
}

.value {
  display: flex;
  margin-bottom: .25em;
}

.value label {
  width: 3em;
  margin-right: .3125em;
}

.value input,
.value span {
  display: block;
  text-align: left;
  min-width: 4em;
  max-width: 10em;
}
